<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}Hashtag Elecciones{% endblock %}</title>
    <link href="/static/sass/global.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Glegoo|Open+Sans:300italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    {% block stylesheets %}{% endblock %}
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-32848437-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
  </head>
  <body>
    <div id="header">
      <img src="/static/img/logo_horizontal2.png" title="Elecciones Twitter"/>
    </div>
    <div id="content">
      {% block content %}{% endblock %}
    </div>
    <div id="footer">
      Copyright © 2012 <a href="http://twitter.com/dfect">@dfect</a> 
    </div>
  </body>
</html>
